@use '../styles/abstracts/mixins';

.container {
    background-color: blanchedalmond;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    margin: 0 auto;
    @include mixins.breakpoint(tablet) {
        width: 700px; 
    }
    @include mixins.breakpoint(laptop) {
        width: 980px; 
    }
    @include mixins.breakpoint(desktop) {
        width: 1140px; 
    }
    &--content {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0 auto;
        @include mixins.breakpoint(tablet) {
            width: 40rem;
        }
        @include mixins.breakpoint(laptop) {
            width: 45rem;
        }
        @include mixins.breakpoint(desktop) {
            width: 50rem;
        }
    }
}